.app-dashboard-banner img {
    width : 100%;
    height : 100%;
    
    margin-bottom: 15px;
    object-fit: cover;
}

.app-youtube-result {
    background: white;
}
.app-youtube-dashboard-gird {
    display: grid;
    gap : 15px;
}
.app-youtube-dashboard-gird__item-image img {
    width : 100%;
    max-height : 100px;
    object-fit: cover;
}
.app-youtube-dashboard-gird__item-detail-title {
    text-decoration: none;
    display: -webkit-box;
   margin : 4px 0px 8px 0px;
    height: 37px; 
   
    font-size: 13px;
    line-height: 18px;
    -webkit-line-clamp: 3px;
    -webkit-box-orient: vertical;
    color : #333;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}
.app-youtube-dashboard-gird__item-detail-date {
    text-decoration: none;
    display: -webkit-box;
   
    height: 12px; 
    margin: 0 auto;
    font-size: 11.4px;
    
    -webkit-line-clamp: 3px;
    -webkit-box-orient: vertical;
    color : rgb(152, 152, 152);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}
.app-youtube-dashboard-gird__item-image {
    position: relative;
    cursor: pointer;
}
.app-youtube-dashboard-gird__item-image span {
    background: black;
    font-size: 12px;
    font-weight: 600px;
    color : #fff;
    padding : 2px 6px 2px 4px;
   border-radius: 2px;
   position: absolute;
   bottom: 7px;
   right : 5px;
}


.app-youtube-dashboard-channel {
    display: grid;
    gap : 21px;
}
.app-youtube-dashboard-channel-item img {
    width : 80px;
    height : 80px;
    border-radius: 100%;
}

.app-youtube-dashboard-channel .app-youtube-dashboard-channel-item:nth-child(2) span{
    
   display: block;
}
.app-youtube-dashboard-channel-item-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.app-youtube-dashboard-channel-item-center span:first-child {
    font-size: 20px;
    color : #333;
}
.app-youtube-dashboard-channel-item-center span:last-child {
    font-size: 15px;
    color :rgb(110, 110, 110);
}
.app-youtube-dashboard-channel-item button {
   font-size: 13px;
   font-weight: 600;
    text-transform: uppercase;
    background: #065fd4;
    color : #fff;
    border : none;
    border-radius: 2px;
    padding : 11px 12px;
}
.app-youtube-dashboard-channel-item button:first-child {
   
    margin-right : 8px;
}
.app-youtube-dashboard-navbar li {
    display: inline-block;
    padding : 12px 35px;
    text-transform: uppercase;
    font-size: 13px;
    color :#333;
    font-weight: 600;
   
}
.app-youtube-dashboard-navbar-active {
    border-bottom: 3px solid #333;
}




.app-youtube-dashboard-navbar {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
   
}

.app-youtube-dashboard-navbar::-webkit-scrollbar  {
    display: none;
  }

  .app-youtube-dashboard-navbar__second {
    background: #f9f9f9;
    padding : 0px 30px 30px 30px;
  }
  .app-youtube-dashboard-navbar__second-title {

    height : 60px;
    align-items: center;
    display: flex;
    justify-content:flex-start;
  }
  .app-youtube-dashboard-navbar__second-title span:first-child {
    font-size: 15px;
    font-weight: 600;
    margin-right : 20px;
  }
  .app-youtube-dashboard-navbar__second-title span:last-child {
    font-size: 15px;
    text-transform: uppercase;
   color :rgb(110, 110, 110);
  }
  .app-content-youtube__category {
    z-index: 9999;
}